[Unit]
Description=TC²-BBS Meshtastic Version
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=20
User=__SERVICE_USER__
WorkingDirectory=__PROJECT_DIR__
Environment="PATH=/usr/games:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="BBS_ZORK_INTERPRETER=/usr/games/dfrotz"
ExecStart=__PROJECT_DIR__/venv/bin/python3 __PROJECT_DIR__/server.py

[Install]
WantedBy=multi-user.target